body{
    background-color: rgb(200, 200, 200);
    width: 100%;
}

#head{
    text-align: center;
    margin: 20px;
}

#GameBord{
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    width: 60%;    
    justify-content: center;
}
.card{
    transition: transform 0.6s;
    transform-style: preserve-3d;
    cursor: pointer;
}
.card.unclickable{
    pointer-events: none;
}
.blockFront
, .blockBack{
    text-align: center;
    font-size: 20px;
    color: #fff;
    width: 130px;
    height: 130px;
    background-color: rgb(0, 0, 0);
    border: 2px solid rgb(0, 37, 247);
    margin: 20px;
    justify-content: center;
    align-items: center;
    display: flex;
}
.blockFront{
    font-weight: bold;
    font-size: 300%;
    position: absolute;
    backface-visibility: hidden ;
}
.blockBack{
    transform: rotateY(180deg);
    backface-visibility: hidden;
}
.card.flip
, .card.match{
    transform: rotateY(180deg);
}

#startButton{
    border-radius: 4%;
    color: #fff;
    width: 180px;
    height: 80px;
    background-color: #ff4400;
    cursor: pointer;
}
#startScreen {
    background-color: #a984ff59;

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

#GameBord.blur {
    opacity: 0.5;
}